#hero-section {
  .upper-desc {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125;
    color: #455ece;
    margin: 10.375rem auto 0.875rem;
  }
  .hero-title {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.25rem;
    text-transform: uppercase;
    max-width: 47.5rem;
    margin: auto;
  }
}
